.whole {
  display: flex;
  border: 1px solid gray;
  height: 100vh;
}

.s1, .s2, .s3 {
  display: flex;
  flex: 1;
  border: 1px solid black;
}

.s2 {
  flex-direction: column;
}

.s2top {
  display: flex;
  border: 1px solid yellow;
  flex: 1;
}

.s2bottom {
  display: flex;
  flex: 1;
  border: 1px solid pink;
}

.s2lefttop, .s2righttop {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}

.righttopblue {
  flex: 2;
  background: blue;
  border: 1px solid black;
}

.righttopred {
  flex: 2;
  background: red;
  border: 1px solid black;  
}

.righttopwhite {
  flex: 1;
}

.lefttopyellow {
  flex: 1;
  background: yellow;
  border: 1px solid black;
}

.lefttopyellow2 {
  flex: 2;
  background: yellow;
  border: 1px solid black;
}

.s2lefttopsplit {
  display: flex;
  flex: 2;
}

.lefttopwhite {
  flex: 1;
  border: 1px solid black;
}

.lefttopwhite2 {
  flex: 1;
  border: 1px solid black;
}

.s2leftbottom, .s2rightbottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}

.leftbottomwhite {
  flex: 1;
  border: 1px solid black;
}

.leftbottomred {
  flex: 2;
  border: 1px solid black;
  background: red;
}

.leftbottomblue {
  flex: 2;
  border: 1px solid black;
  background: blue;
}

.s2rightbottomsplit {
  display: flex;
  flex: 2;
  border: 1px solid black;
}

.rightbottomwhite, .rightbottomwhite1 {
  flex: 1;
  border: 1px solid black;
}

.rightbottomyellow {
  flex: 2;
  border: 1px solid black;
  background: yellow;
}

.s2rightbottomsplit1 {
  display: flex;
  flex: 1;
}

.rightbottomwhite2 {
  flex: 1;
  border: 1px solid black;
}

.rightbottomblack {
  flex: 1;
  background: black;
  border: 1px solid black;
}

.s3 {
  flex-direction: column;
}
.s3top, .s3bottom {
  display: flex;
  flex: 1;
  border: 1px solid black;
}

.s3middle {
  flex: 8;
}

.s3bottomwhite {
  flex: 4;
  border: 1px solid black;
}

.s3bottomwhite1 {
  flex: 2;
  border: 1px solid black;
}

.s3top {
  display: flex;
}

.s3topyellow {
  flex: 1;
  border: 1px solid black;
  background: yellow;
}

.s3topblack {
  flex: 1;
  border: 1px solid black;
  background: black;
}

.s3topwhite {
  flex: 4;
  background: none;
}

.s3middle {
  display: flex;
}

.s3middleleft {
  flex: 3;
  border: 1px solid black;
}

.s3middleright {
  flex: 1;
  border: 1px solid black;
}

.s3middleleft {
  flex: 3;
  border: 1px solid black;
}

.s3middleright {
  display: flex;
  flex: 1;
  border: 1px solid black;
  flex-direction: column;
}

.s3topyellow {
  flex: 2;
  border: 1px solid black;
  background: yellow;
}
 
.s3top1 {
  flex: 2;
  border: 1px solid black;
}

.s3top2 {
  flex: 1;
  border: 1px solid black;
}

.s3middleleft {
  display: flex;
  flex-direction: column;
}

.s3midtop {
  flex: 1;
  border: 1px solid black;
}

.s3midbottom {
  flex: 1;
  border: 1px solid black;
  background: blue;
}
